SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailBatch](
	[CarId] [int] NOT NULL,
	[EmailId] [int] NOT NULL,
 CONSTRAINT [PK_EmailBatch] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC,
	[EmailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[EmailBatch]  WITH CHECK ADD  CONSTRAINT [FK_EmailBatch_Car] FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([Id])
GO
ALTER TABLE [dbo].[EmailBatch] CHECK CONSTRAINT [FK_EmailBatch_Car]
GO
ALTER TABLE [dbo].[EmailBatch]  WITH CHECK ADD  CONSTRAINT [FK_EmailBatch_Email] FOREIGN KEY([EmailId])
REFERENCES [dbo].[Email] ([Id])
GO
ALTER TABLE [dbo].[EmailBatch] CHECK CONSTRAINT [FK_EmailBatch_Email]
GO
