SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feed](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[FeedCity] [nvarchar](45) NOT NULL,
	[FeedState] [nvarchar](2) NOT NULL,
	[FeedRssLink] [nvarchar](150) NOT NULL,
	[FeedActive] [bit] NOT NULL,
 CONSTRAINT [PK_Feed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Feed] ADD  DEFAULT ((0)) FOR [FeedActive]
GO
