SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predicate](
	[Id] [tinyint] NOT NULL,
	[PredicateSymbol] [nvarchar](50) NOT NULL,
	[PredicateFormat] [nvarchar](50) NULL,
	[PredicateForAll] [bit] NULL,
 CONSTRAINT [PK_Predicate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
