SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAgent](
	[UAId] [int] NOT NULL,
	[UserAgents] [nvarchar](250) NULL,
 CONSTRAINT [PK_UserAgent] PRIMARY KEY CLUSTERED 
(
	[UAId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
