<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atlas" type="Atlas.Configuration.XmlConfiguration, Atlas" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RSSRetrieveService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AtlasExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <add name="CarCrawler" connectionString="Data Source=(local);Initial Catalog=CarCrawler;User Id=CarCrawler;Pwd=CarCrawler" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <atlas>
    <host name="RSSRetrieveService" displayName="RSS Retrieve Service" description="Service does RSS Retrieval" allowMultipleInstances="true">
      <runtime accounttype="networkservice" startup="automatic" />
    </host>
  </atlas>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <RSSRetrieveService.Properties.Settings>
      <setting name="smptserver" serializeAs="String">
        <value>smtp.elasticemail.com</value>
      </setting>
      <setting name="IntervalInMinutes" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="smtpuser" serializeAs="String">
        <value>clcarnotifier@gmail.com</value>
      </setting>
      <setting name="smptpassword" serializeAs="String">
        <value>10b89a5b-31d2-4e44-898b-80d581302f38</value>
      </setting>
      <setting name="smtpssl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="smtpport" serializeAs="String">
        <value>2525</value>
      </setting>
      <setting name="mailfrom" serializeAs="String">
        <value>CLCarNotifier@gmail.com</value>
      </setting>
      <setting name="mailto" serializeAs="String">
        <value>driveawayresults@gmail.com</value>
      </setting>
      <setting name="sendemail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="maxemaildate" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="maxposttime" serializeAs="String">
        <value>48</value>
      </setting>
    </RSSRetrieveService.Properties.Settings>
  </applicationSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
