<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.2" targetFramework="net452" />
  <package id="AngleSharp.Scripting.JavaScript" version="0.3.1" targetFramework="net452" />
  <package id="Atlas" version="1.9" targetFramework="net452" />
  <package id="Autofac" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net452" />
  <package id="Jint" version="2.6.0" targetFramework="net452" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
  <package id="NLog" version="4.1.2" targetFramework="net452" />
  <package id="Quartz" version="2.3.3" targetFramework="net452" />
</packages>