<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CLNotifierManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CarCrawler" connectionString="Data Source=(local);Initial Catalog=CarCrawler;User Id=CarCrawler;Pwd=CarCrawler;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <CLNotifierManager.Properties.Settings>
      <setting name="yearinc" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="priceinc" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="milesinc" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="limitdaysto" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="timerinterval" serializeAs="String">
        <value>900000</value>
      </setting>
    </CLNotifierManager.Properties.Settings>
  </applicationSettings>
 </configuration>
